/* 扩展所使用字体均来自字体传奇提供的商业免费字体
 * http://www.ziticq.com
 * 如涉及侵权，请联系leewei2020@gmail.com下线
 */

 @font-face {
  font-family: "ChaoJiXi";
  src: url('/fonts/chaojixi.ttf');
}

/* @font-face {
  font-family: "TaiwanShengSongti";
  src: url('/fonts/taiwansongti.ttf');
} */

/* @font-face {
  font-family: "JapanMingChaoTi";
  src: url('/fonts/JapanMingChaoTi.ttf');
} */

/* *{
  margin:0; padding:0;
} */

* {
  font-size: 12px;
}

body, ul, li, h4, p{
  margin:0; padding:0;
}

ul, li{
  list-style: none;
}

html{
  background: #f1f1f1;
}

body {
  width: 390;
  height: 567px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  /* font-family: "微软雅黑", "JapanMingChaoTi", "ChaoJiXi", "TaiwanShengSongti", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.container {
  position: relative;
  width: 390px;
  height: 567px;
  overflow: hidden;
  z-index: 1;
}

input:focus, textarea:focus, [contenteditable="true"]:focus, select:focus{outline:none;}